.gts-menuimageitem {
}

.gts-menuimageitem[disabled] {
	opacity: 0.4;
	filter: alpha( 40 );
}

.gts-menuimageitem.has-icon {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

.gts-menuimageitem .gts-mii-icon {
	margin: 0 0.5em 0 0;
}

.gts-menuimageitem .gts-mii-text {
}
